In [10]:
import pandas as pd
df = pd.read_csv('neu_rmp.csv')
df

,First Name,Middle Name,Last Name,ID,Department,Institution Name,Institution ID,Number of Ratings,Average Rating (Out of 5),Would Take Again (Percent),Level of Difficulty (Out of 5),Popular Tags,Reviews
0,Anand,NaN,Asthagiri,2894891,Biomedical,Northeastern University,696,1.0,5.0,1.00,3.0,"['Amazing lectures', 'Inspirational', 'Accessi...",Attendance Clarity (color) Easy (color) ...
1,Jelena,NaN,Golubovic,2961788,Anthropology,Northeastern University,696,0.0,NaN,NaN,NaN,[],Empty DataFrame\nColumns: []\nIndex: []
2,Faizul,NaN,Huq,2854044,Business,Northeastern University,696,7.0,2.6,0.43,4.0,"['Tough grader', 'Participation matters', 'Gro...",Attendance Clarity (color) Easy (color) ...
3,Juyi,NaN,Lyu,2999528,Business,Northeastern University,696,0.0,NaN,NaN,NaN,['Accessible outside class'],Empty DataFrame\nColumns: []\nIndex: []
4,Markysha,NaN,Martin,2922383,Psychology,Northeastern University,696,0.0,NaN,NaN,NaN,[],Empty DataFrame\nColumns: []\nIndex: []
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3485,Steve,NaN,Zoloth,2330269,Health Science,Northeastern University,696,0.0,NaN,NaN,NaN,[],Empty DataFrame\nColumns: []\nIndex: []
3486,Steve,NaN,Zoloth,2330268,Sociology,Northeastern University,696,2.0,4.0,1.00,3.5,"['Get ready to read', 'Participation matters',...",Attendance Clarity (color) Easy (color) Help...
3487,Gregory,NaN,Zuch,540413,Writing,Northeastern University,696,26.0,4.3,0.50,2.5,"['Caring', 'Clear grading criteria', 'Gives go...",Attendance Clarity (color) Easy (color)...
3488,Ronald C.,NaN,Zullo,1393308,Accounting,Northeastern University,696,37.0,3.4,0.54,3.9,"['Tough grader', 'Group projects', 'Participat...",Attendance Clarity (color) Easy (color) Hel...
3489,Günther,K.H,Zupanc,1886247,Biology,Northeastern University,696,11.0,2.7,0.46,2.6,"['Graded by few things', ""Skip class? You won'...",Attendance Clarity (color) Easy (color)...