##### Import Necessary Libraries

In [35]:
from ratemyprof_api import RateMyProfApi
import pandas as pd
import data_scrape
import importlib

importlib.reload(data_scrape)

##### Create Initial Use of Rate My Professor API

In [36]:
# call the rate my professor API
NortheasternUniversity = RateMyProfApi('696')
professor_data = NortheasternUniversity.get_professors()

##### Convert Required Data to a DataFrame

In [37]:
# get temporary professor data
prof_df = pd.DataFrame(professor_data)
prof_df.head()

,tDept,tSid,institution_name,tFname,tMiddlename,tLname,tid,tNumRatings,rating_class,contentType,categoryType,overall_rating
0,Biomedical,696,Northeastern University,Anand,,Asthagiri,2894891,1,good,TEACHER,PROFESSOR,5.0
1,Anthropology,696,Northeastern University,Jelena,,Golubovic,2961788,0,zero,TEACHER,PROFESSOR,N/A
2,Business,696,Northeastern University,Faizul,,Huq,2854044,7,average,TEACHER,PROFESSOR,2.6
3,Business,696,Northeastern University,Juyi,,Lyu,2999528,0,zero,TEACHER,PROFESSOR,N/A
4,Psychology,696,Northeastern University,Markysha,,Martin,2922383,0,zero,TEACHER,PROFESSOR,N/A

##### Filter Necessary Data

In [38]:
# filter data we want to keep (for now)
final_df = prof_df[['tFname', 'tMiddlename', 'tLname', 'tid', 'tDept', 'institution_name', 'tSid']]

# change column names
final_df.columns = ['First Name', 'Middle Name', 'Last Name', 'ID', 'Department',
                    'Institution Name', 'Institution ID']

# Remove Leandra Smollin and Jack Witkin (They have no data)
final_df = final_df[~final_df['ID'].isin([1047708, 2180974])]
final_df

,First Name,Middle Name,Last Name,ID,Department,Institution Name,Institution ID
0,Anand,,Asthagiri,2894891,Biomedical,Northeastern University,696
1,Jelena,,Golubovic,2961788,Anthropology,Northeastern University,696
2,Faizul,,Huq,2854044,Business,Northeastern University,696
3,Juyi,,Lyu,2999528,Business,Northeastern University,696
4,Markysha,,Martin,2922383,Psychology,Northeastern University,696
...,...,...,...,...,...,...,...
3487,Steve,,Zoloth,2330269,Health Science,Northeastern University,696
3488,Steve,,Zoloth,2330268,Sociology,Northeastern University,696
3489,Gregory,,Zuch,540413,Writing,Northeastern University,696
3490,Ronald C.,,Zullo,1393308,Accounting,Northeastern University,696
3491,GÃ¼nther,K.H,Zupanc,1886247,Biology,Northeastern University,696

##### Scrape individual Content for each Professor

In [39]:
# get all the content we need
final_df[['Number of Ratings', 'Average Rating (Out of 5)']] = final_df['ID'].apply(lambda x: pd.Series(data_scrape.scrape_professor_avg_rating_and_num_ratings(x)))

final_df[['Would Take Again (Percent)', 'Level of Difficulty (Out of 5)']] = final_df['ID'].apply(lambda x: pd.Series(data_scrape.scrape_professor_wta_percentage_and_lvl_of_difficulty(x)))
    
final_df['Popular Tags'] = final_df['ID'].apply(lambda x: data_scrape.scrape_professor_tags(x))
 
final_df['Reviews'] = final_df['ID'].apply(lambda x: data_scrape.scrape_professor_reviews(NortheasternUniversity, x))

/Users/owensharpe/Desktop/Coding/Personal/OASIS Project/data_scrape.py:68: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 68 of the file /Users/owensharpe/Desktop/Coding/Personal/OASIS Project/data_scrape.py. To get rid of this warning, pass the additional argument 'features="html.parser"' to the BeautifulSoup constructor.

  temp_soup = BeautifulSoup(html)
/Users/owensharpe/Desktop/Coding/Personal/OASIS Project/data_scrape.py:68: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 68 of the file /Users/owensharpe/Desktop/Coding/Personal/OASIS Project/data_scrape.py. To get rid of this warning, pass the additional argument 'features="html.parser"' to the BeautifulSoup constructor.

  temp_soup = BeautifulSoup(html)
/Users/owensharpe/Desktop/Coding/Personal/OASIS Project/data_scrape.py:68: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 68 of the file /Users/owensharpe/Desktop/Coding/Personal/OASIS Project/data_scrape.py. To get rid of this warning, pass the additional argument 'features="html.parser"' to the BeautifulSoup constructor.

  temp_soup = BeautifulSoup(html)

##### Export the Data

In [2]:
# export our scraped RateMyProfessor Data as a CSV File
final_df.to_csv('neu_rmp_data.csv', index=False)

NameError: name 'final_df' is not defined